@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);












body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.mbr-author-desc {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #ffffff !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #bb4d00 !important;
}
.bg-warning {
  background-color: #503c37 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-secondary {
  background-color: #44cccc;
  border-color: #44cccc;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #2a9a9a;
  border-color: #2a9a9a;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #2a9a9a !important;
  border-color: #2a9a9a !important;
}
.btn-info {
  background-color: #bb4d00;
  border-color: #bb4d00;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #6e2d00;
  border-color: #6e2d00;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #6e2d00 !important;
  border-color: #6e2d00 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #503c37;
  border-color: #503c37;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #231a18;
  border-color: #231a18;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #231a18 !important;
  border-color: #231a18 !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #248686;
  color: #248686;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #44cccc;
  border-color: #44cccc;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #44cccc !important;
  border-color: #44cccc !important;
}
.btn-info-outline {
  background: none;
  border-color: #552300;
  color: #552300;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #bb4d00;
  border-color: #bb4d00;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #bb4d00 !important;
  border-color: #bb4d00 !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #140f0d;
  color: #140f0d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #503c37;
  border-color: #503c37;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #503c37 !important;
  border-color: #503c37 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #ffffff !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #bb4d00 !important;
}
.text-warning {
  color: #503c37 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #bb4d00;
}
.alert-warning {
  background-color: #503c37;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #ffffff;
}
.btn-social:hover {
  background: #ffffff;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #ffffff;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #ffffff;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #ffffff;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #ffffff;
}
.lead a,
.lead a:hover {
  color: #ffffff;
}
.lead blockquote {
  border-color: #ffffff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ff8c3c;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #c4aea9;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #ffffff;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-0 .link {
  font-size: 1.15rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #ffffff;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #141414;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .btn {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
}
#header1-1 .mbr-section-title {
  color: #44cccc;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 60px;
}
#header1-1 .mbr-section-lead {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#header1-1 .btn {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#header1-1 .mbr-section-title SPAN {
  color: #f3c649;
}
#footer1-2 P {
  color: #ffffff;
}
#header3-c .mbr-section-title,
#header3-c .mbr-section-subtitle {
  text-align: center;
}
#header3-c .mbr-section-title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  color: #2e2e2e;
}
#content1-d P {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  color: #2e2e2e;
}
#social-buttons2-6 .mbr-section-title,
#social-buttons2-6 .btn-social {
  color: #232323;
}
#social-buttons2-6 .mbr-section-title {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#msg-box3-f .mbr-section-title,
#msg-box3-f p {
  color: #000;
}
#msg-box3-f .btn {
  font-size: 15px;
}
#msg-box3-f .mbr-section-title {
  color: #2e2e2e;
}
#msg-box3-f .lead P {
  color: #2e2e2e;
}
#features3-g P {
  color: #2e2e2e;
  font-size: 20px;
}
#features3-g H4 {
  color: #2e2e2e;
  font-size: 25px;
}
#form2-e .mbr-section-title {
  color: #fff;
}
#form2-e .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}
#form2-e .btn {
  font-size: 20px;
}



#header3-v .mbr-section-title,
#header3-v .mbr-section-subtitle {
  text-align: center;
}
#accordion-block-u .panel-body {
  padding: 15px;
}
#accordion-block-u .panel-group {
  margin-bottom: 20px;
}
#accordion-block-u .panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}
#accordion-block-u .panel-default {
  border-color: #ddd;
}
#accordion-block-u .panel-group .panel {
  margin-bottom: 0px;
  border-radius: 4px;
}
#accordion-block-u .panel-group .panel + .panel {
  margin-top: 5px;
}
#accordion-block-u .panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#accordion-block-u .panel-group .panel-heading {
  border-bottom: 0;
}
#accordion-block-u .panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
#accordion-block-u .collapse {
  display: n1;
}
#accordion-block-u .panel-group .panel-heading + .panel-collapse > .panel-body,
#accordion-block-u .panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #ddd;
}
#accordion-block-u .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
#accordion-block-u .panel-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  color: inherit;
}
#accordion-block-u [role="button"] {
  cursor: pointer;
}
#accordion-block-u .panel-title > a,
#accordion-block-u .panel-title > small,
#accordion-block-u .panel-title > .small,
#accordion-block-u .panel-title > small > a,
#accordion-block-u .panel-title > .small > a {
  color: inherit;
}
#menu-k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-k .navbar-caption {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px;
}
#menu-k .navbar-toggler {
  color: #ffffff;
}
#menu-k .link,
#menu-k .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-k .link {
  font-size: 1.15rem;
}
#menu-k .dropdown-item,
#menu-k .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-k .link:hover,
#menu-k .dropdown-item:hover,
#menu-k .link:focus,
#menu-k .dropdown-item:focus {
  color: #ffffff;
}
#menu-k .link[aria-expanded="true"],
#menu-k .dropdown-menu {
  background: #141414;
}
#menu-k .nav-dropdown-sm .link:focus,
#menu-k .nav-dropdown-sm .link:hover,
#menu-k .nav-dropdown-sm .dropdown-item:focus,
#menu-k .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#menu-k .navbar,
#menu-k .nav-dropdown-sm,
#menu-k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-k .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#menu-k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-k .bg-color.transparent.opened .link:hover,
#menu-k .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#menu-k .link[aria-expanded="true"],
#menu-k .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-k .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-k .close-icon::before,
#menu-k .close-icon::after {
  background-color: #ffffff;
}
#menu-k .btn {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
}
#footer1-l P {
  color: #ffffff;
}
#form2-o .mbr-section-title {
  color: #fff;
}
#form2-o .mbr-section-subtitle {
  color: #a0a0a0;
  text-align: center;
  font-size: 20px;
}
#form2-o .btn {
  font-size: 20px;
}
#header3-p .mbr-section-title,
#header3-p .mbr-section-subtitle {
  text-align: center;
}
#msg-box3-q .mbr-section-title,
#msg-box3-q p {
  color: #000;
}
#msg-box3-q .btn {
  font-size: 15px;
}
#msg-box3-q .mbr-section-title {
  color: #ffffff;
}
#msg-box3-q .lead P {
  color: #ffffff;
}
#features3-r P {
  color: #ffffff;
  font-size: 20px;
}
#features3-r H4 {
  color: #ffffff;
  font-size: 25px;
}
